# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=

# NOTION_API_KEY: Internal Integration Secret from Notion
NOTION_API_KEY=

# NOTION_DATABASE_ID: The ID of the Notion database
NOTION_DATABASE_ID=33da7f1b413c8036be02d7229447ea77
